.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(36, 127, 201);
  /* background-image: url("C:\Users\vanap\OneDrive\Desktop\ffm23.jpeg"); */
  background-color: #477be3;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 13, 13);
}

.App-link {
  color: #61fb69;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* .header {
  
background-color: white;
  padding: 5px;
  text-align: center;
  color: rgb(5, 6, 6);
} */

.hero {
  background-color: white;
  text-align: center;
  padding: 10px;
 
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #070707;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.feature {
  width: 30%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
  color: #29c780;
}

.footer {
  background-color: #1261a1;
  padding: 10px;
  text-align: center;
  color: white;
}
/* Navbar styles */
/* Navbar styles */




